<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}My Messenger App{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-fluid">
      <header class="">
        <h1 class="text-center">My Messaging App</h1>
        {% if user.is_authenticated %}
        <div class="text-center">
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        </div>  
        {% else %}
        <div class="text-center">
          <a class="btn btn-primary" href="{% url 'login' %}">Login</a> <a class="btn btn-primary" href="{% url 'signup' %}">Sign Up</a>
        </div>  
        {% endif %}
        <hr>
      </header>
      <main>
        {% block content %}
        {% endblock %}
      </main>
    </div>
  </body>
</html>